<ion-header>
  <ion-toolbar>
    <ion-title>To Do List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>Item</ion-col>
          <ion-col text-center>Important?</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item slot="start" *ngFor="let todo of toDoList">
      <ion-grid>
        <ion-row>
          <ion-col>{{todo.item}}</ion-col>
          <ion-col *ngIf="todo.important; then thenBlock"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>

<ng-template #thenBlock>
  <ion-col text-center><ion-icon name="alert"></ion-icon></ion-col>
</ng-template>

