<ion-header>
  <ion-toolbar color="light">
    <ion-title>Entry Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title text-center>{{currentToDo.item}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{currentToDo.detail}}
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="primary">
      <ion-button shape="round" fill="outline" color="success" (click)="handleEdit(currentToDo.id)">
        Update <ion-icon name="clipboard"></ion-icon>
      </ion-button>
      <ion-button 
        shape="round" fill="outline" color="danger" (click)="presentDeleteAlert(currentToDo.id)">
        Delete <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button size="large" fill="clear" routerLink="/list" routerDirection="back">
        <ion-icon name="arrow-round-back"></ion-icon> Back to List
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
